.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.track {
    border-bottom: 1px solid #000;
}

.player {
    transition: all 1s linear;
}

.playground {
    border: 1px solid #000;
    background-color: #0f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 40px;
}